
.nav-list {
    text-decoration:dashed;
    padding: 20px;
    line-height: 50px;
    font-size: 20px;
    background-color:rgb(246, 240, 252);
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
  } 

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.photo-cv {

   width: 300px;
   height: 300px;
   object-fit: cover;
   border-radius: 150px;
   position: relative;
   right: auto

 }
  .section {
    width: 75g%;
    margin: auto;
  }
.foot-part {
    list-style: none;
    padding: 20px;
    line-height: 50px;
    font-size: 15px;
    background-color:rgb(246, 240, 252);
    width: 100%;
}
.logo {
    width: 100px;
    height: 50px;
}
.foot-year {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 50px;
}
.foot-gitlink {
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
}